<div fxLayout="row">
    <mat-form-field appearance="outline">
        <mat-label>Search</mat-label>
        <input
            #inputEl
            matInput
            role="search"
            placeholder="Apple, Burger, Chipotle"
            autocomplete="off"
            (keydown.space)="activateSearch()"
            (keydown.escape)="deactivateSearch()"
            (focus)="activateSearch()"
        />
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <div
        class="search-options"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        fxLayoutGap="8px"
    >
        <!-- <button mat-mini-fab aria-label="Close Search">
            <mat-icon>close</mat-icon>
        </button> -->

        <!-- <div fxLayout="column">
            <mat-checkbox>Foods</mat-checkbox>
            <mat-checkbox>Recipes</mat-checkbox>
        </div>

        <div fxLayout="column">
            <mat-checkbox>Meals</mat-checkbox>
        </div> -->
    </div>
</div>

<mat-accordion *ngIf="searchAcivated">
    <mat-expansion-panel
        *ngFor="let food of foods; first as isFirst"
        (afterCollapse)="food.expanded = false"
        (afterExpand)="food.expanded = 'true'"
        [ngStyle]="{ background: food.expanded ? '#eee' : 'transparent' }"
        [expanded]="isFirst"
    >
        <mat-expansion-panel-header>
            <div class="food-icon"></div>
            <div class="food-name">{{ food.name }}</div>
        </mat-expansion-panel-header>

        <p>{{ food.description }}</p>

        <mat-action-row>
            <input placeholder="Quantity" value="100" />

            <button mat-button [matMenuTriggerFor]="menu">g</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item>oz</button>
                <button mat-menu-item>slice</button>
            </mat-menu>

            <mat-icon matSuffix>drag_handle</mat-icon>
        </mat-action-row>
    </mat-expansion-panel>
</mat-accordion>

<span [hidden]="searchAcivated">
    <ng-content></ng-content>
</span>
