:host {
  display: block;
}

.mat-form-field {
  width: 100%;
}

.food {
  height: 60px;
  font-weight: bolder;
  width: 100%;
  border-bottom: 1px solid black;
}

.search-options {
  height: 50px;
  margin: 4px;
}

.mat-expansion-panel {
  box-shadow: none;
}
