:host {
  display: block;
}

.mat-form-field {
  width: 100%;
}

.food {
  height: 60px;
  font-weight: bolder;
  width: 100%;
  border-bottom: 1px solid black;
}

.search-options {
  height: 50px;
  margin: 4px;
}

.mat-expansion-panel {
  box-shadow: none;
}

.food-icon {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background: #999;
  margin-right: 6px;
}

.food-name {
  width: calc(100% - 34px);
  margin-right: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
