<mat-drawer-container class="app-container" autosize>
    <!-- Sidebar -->
    <mat-drawer #drawer class="mat-elevation-z2" mode="side" opened>
        <!-- Sidebar Outlet -->
        <cc-common-ui-sidenav></cc-common-ui-sidenav>
    </mat-drawer>

    <!-- Main Area -->
    <span role="main">
        <!-- Toolbar -->
        <mat-toolbar>
            <button
                matRipple
                class="toggle-sidebar mat-elevation-z2"
                (click)="drawer.toggle()"
            >
                <mat-icon>chevron_left</mat-icon>
            </button>
            <div role="banner" id="brand">Common UI</div>
        </mat-toolbar>
        <!-- Feature Outlet -->
        <router-outlet></router-outlet>
    </span>
</mat-drawer-container>
