<mat-drawer-container class="app-container" autosize>
    <mat-drawer
        #drawer
        role="complementary"
        class="app-sidenav mat-elevation-z2"
        mode="side"
        opened
        disableClose="true"
    >
        <ds-sidebar-search>
            <router-outlet name="side"></router-outlet>
        </ds-sidebar-search>
    </mat-drawer>

    <mat-toolbar role="header">
        <button
            matRipple
            class="toggle-sidebar mat-elevation-z2"
            (click)="drawer.toggle()"
        >
            <mat-icon>chevron_left</mat-icon>
        </button>
        <ds-header></ds-header>
    </mat-toolbar>
    <main>
        <button [routerLink]="['']">landing</button>
        <button [routerLink]="['/nutrient']">nutrient</button>
        <button [routerLink]="['/food-recipe']">food</button>
        <router-outlet></router-outlet>
    </main>
</mat-drawer-container>
