// https://medium.com/wizdm-genesys/hacking-angular-material-theming-d27a33f4e653
// https://stackblitz.com/edit/wizdm-theming?file=src%2Fapp%2Fapp.component.ts

// multi triadic 4

$green: #44ab69;
$brown: #ab5a44;
$dark-brown: #783f30;
$blue: #455dab;
$dark-blue: #304178;

// multi triadic 4 with multi

$primary-light-2: #9ddfb6;
$primary-light-1: #6ac48c;
$primary: #44ab6a;
$primary-dark-1: #299752;
$primary-dark-2: #147b3a;

$secondary-light-2: #9bbad5;
$secondary-light-1: #678fb4;
$secondary: #437099;
$secondary-dark-1: #2c5b86;
$secondary-dark-2: #18456e;

$tertiary-light-2: #ffe0b4;
$tertiary-light-1: #ffce8a;
$tertiary: #ecb15e;
$tertiary-dark-1: #cf9139;
$tertiary-dark-2: #a96f1b;

$quaternary-light-2: #ffc1b4;
$quaternary-light-1: #ff9e8a;
$quaternary: #ec765e;
$quaternary-dark-1: #cf5339;
$quaternary-dark-2: #a9341b;
