/*
 * Remove template code below
 */
:host {
  display: block;
}

.app-container {
  width: 100vw;
  height: 100vh;
}

.app-sidenav {
  padding: 20px;
}
.toggle-sidebar {
  margin-left: -22px;
  height: 50px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 1px solid #aaa;
  outline: none;
}
