:host {
  display: flex;
}

button.item {
  text-align: left;
  margin-bottom: 8px;
  cursor: pointer;
  background: transparent;
  border: 1px solid;
  border-radius: 8px;

  &:hover {
    background-color: #eee;
  }
}

.image-container {
  text-align: center;
  vertical-align: middle;

  img {
    margin-right: 16px;
    float: left;

    &.side{
      width: 80px;
      height: 80px;
    }
    &.main{
      width: 80px;
      height: 80px;
    }
  }
}
